<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Techno Babble</title>
  </head>
  <body>
    <header class="welcome is-primary">No Blog has ever Teched this hard</header>
    <form id="login-form" class="is-4">
      <p>Login</p>
      <input
        id="username-login"
        class="input is-primary is-one-third"
        type="text"
        placeholder="Username"
      />
      <p>Password</p>
      <input
        id="password-login"
        class="input is-primary is-one-third"
        type="text"
        placeholder="Password"
      />
      <button
        type="submit"
        class="button is-primary is-pulled-right"
      >Login</button>

    </form>

    <script src="/js/login.js"></script>
  </body>
</html>